.End-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

.End {
  text-align: center;
}

.Button {
  color: #ff8000;
  background-color: #282c34;
  border: 1px solid #ff8000;
  padding: 12px 30px 12px 30px;
  border-radius: 5%;
}

.Button:hover {
  background-color: #333842;
}
