
.Home {
  text-align: center;
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

.Home-hr {
  width: 70%;
  border-block-start-style: none;
}

.Home-text {
  margin: 0;
}

.Button {
  color: #ff8000;
  background-color: #282c34;
  border: 1px solid #ff8000;
  padding: 12px 30px 12px 30px;
  border-radius: 5%;
}

.Button:hover {
  background-color: #333842;
}
